@layout('layouts/main')

@section('content')
  @if(auth.isLoggedIn)
    <p> Olá {{ auth.user.email }} </p>
  @else
    <p>Você não está logado</p>
  @endif

  <main>
    <div>
      <ul>
        @each(user in users.data)
          <li><a href="{{ route('users.edit', { id: user.id }) }}">{{ user.email }}</a></li>
        @end
      </ul>
    </div>
  </main>
@end



